html, body, #container {
  height: 100%;
  width: 100%;
  overflow: visible;
  padding-top: 40px;



}

.row{

}
/*Welcome page */
.img-responsive {
  max-height: 50vh;

.wow {
  visibility: hidden;
}

}
.colored{
  color:49AF4E;
}

.colored-primary{
  color:#074354;
}

@font-face {
    font-family: TitleFont;
    src: url("/storybox1.0/public/fonts/Moon Light.otf");
}


.welcome{
background-image: url("/public/img/BCsatBlack.png");
background-size: cover;
height: 90%;

}

.banner{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
#logo{


}
#title{

}

/*end welcome style*/

/*Table style*/
.myTable{
margin:auto;
padding: 20px;

}
#addModal {
  -webkit-transform: translate3d(0, 0, 0);
}}
#dropzoneStyle{
  margin-bottom: 3em;
  
}


.myGrid {
    width: 500px;
    height: 250px;
  }

body {
  padding-top: 100px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}

#title {
  font-weight:300; 

}
#mainbody{
  ;
}

#map {
  width: auto;
  height: 100%;
  
}

#formbar-panel-default {
margin: 20px;
}

#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}

#addFeatures {
  margin: 20px;

}

#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.feature-row {
  cursor: pointer;
}
#sidebar {
  width: 20%;
  height: 100%;
  max-width: 20%;
  float: left;
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
  position: absolute;
  padding: 0px,15px,0px,15px;
  width: 100%;
  top: 103px;
  bottom: 0px;
  overflow: auto;
}
#formbar-hide-btn {
  margin-top: -2px;
  margin-right: 15px;
}

#formbar {
  width: 25%;
  height: 100%;
  float: right;
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
 
}
.formbar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  
}
.formbar-table {

  width: 100%;
  top: 103px;
  bottom: 0px;
  padding: 0px,15px,0px,15px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}


/*# sourceMappingURL=app.css.map */
